// Colors
$primary-color: #FEDA0A;
$secondary-color: #FFD628;
$tertiary-color: #404752;

$font-color: #ffffff;
$font-color-accent: #b4b3b3;

$bg-color: white;
$black: #000000;
$white: #ffffff;

// Fonts
$base-font-size: 14px;
$font-family: 'Poppins', sans-serif;

// Spacing
$padding-base: 10px;
$margin-base: 20px;

// Breakpoints
$breakpoint-mobile: 768px;
$breakpoint-desktop: 1200px;